[submodule "minitorch-module-0-carsonwolber"]
	path = minitorch-module-0-carsonwolber
	url = https://github.com/minitorch/minitorch-module-0-carsonwolber
[submodule "minitorch-module-1-carsonwolber"]
	path = minitorch-module-1-carsonwolber
	url = https://github.com/minitorch/minitorch-module-1-carsonwolber
[submodule "Module-2"]
	path = Module-2
	url = https://github.com/minitorch/Module-2.git
